#start-board {
    float: left;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #d6ddff;
    border-collapse: collapse;

    width: 486px;
    height: 800px;
}

#title {
    padding: 52px 0;
    color: #3b00ca;
    font: 40px Arial Black;
}

#player-slot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 280px;
    height: 500px;
}

#player-input {
    margin-bottom: 30px;
    display: flex;
    height: 40px;
    align-items: center;
}

#player-input:nth-child(even) > input {
    background-color: #eff7ff;
}

#player-name {
    width: 280px;
    height: 40px;
    border: none;
    padding: 0;
    margin-right: 20px;
}

#remove-btn {
    width: 40px;
    height: 40px;
    padding: 5px 0;
    color: white;
    background-color: #667eff;
    font-size: 20px;
    font-family: Arial Black;
}

#add-btn {
    width: 280px;
    height: 40px;
    color: white;
    background-color: #620aff;
    font-size: 20px;
    font-family: Arial Black;
}

#start-btn {
    width: 380px;
    height: 80px;
    margin-top: 40px;
    color: white;
    background-color: #ff005e;
    font-size: 40px;
    font-family: Book Antiqua;
}